.commandArea{
    width: 320px;
    height: 48px;
}
.camArea{
    width: 320px;
    height: 240px;
}
.rc_btn {
    border: none;
    color: white;
    height: 36px;            
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: .25em;
}
.rc_btnGreen {
    background-color: white; 
    color: black; 
    border: 2px solid #115f13;
}
.rc_btnGreen:hover {
    background-color: #4CAF50;
    color: white;
}
.rc_btnBlue {
    background-color: white; 
    color: black; 
    border: 2px solid #01506b;
}
.rc_btnBlue:hover {
    background-color: #008CBA;
    color: white;
}
.rc_btnRed {
    background-color: white; 
    color: black; 
    border: 2px solid #740000;
}
.rc_btnRed:hover {
    background-color: #ac000e;
    color: white;
}  
#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
  }

#canvas {
    width: 100%;
}

#output {
    text-align: center;
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}
#canvas-container {
 width: 100%;
 text-align:center;
 }
 canvas {
    display: inline;
 }